.popup-container-style{
    margin: 0px !important;
}

.popup-container-style > .modal-content{
    border-radius: 0px;
    height: 250px;
}

.popup-container-style .popup-header{
    padding: 5px;
}

.popup-title{
    font-size: 18px;
    font-weight: 200;
    font-family: 'Helvetica Neue';
    margin: auto;
}

.popup-container-style .btn-close{
    margin: 0 !important;
}